*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
}

.container{
    min-height: 100%; 
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.Dashboard{
    color: white;
    background-color: rgb(0, 153, 255);
    grid-row: 1 / 3;
    font-weight: 900;
    display: grid;
    grid-template-rows: 0.5fr 4fr;
    justify-items: center;
}

i{
    padding-right: 20px;
}

.Dashboard h1{
    margin-top: 2vh;
}

.Dashboard ul{
    font-size: 1.2rem;
    list-style-type: none;
    display: grid;
    margin-bottom: 50vh;
}

.Header{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.Header div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    justify-content: center;
}

.upper-header{
    align-self: center;
}

.upper-header #searchbar{
    border: 1px solid grey;
    border-radius: 15px;
    height: 20px;
    width: 50%;
    height: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    
}

.upper-header label{
    margin-left: 5%;
    margin-top: 4%;
}

.right-side-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side-top img{
    margin-left: 70%;
}

.lower-header ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    
}

.lower-header ul button{
    background-color: rgb(0, 153, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}

.par{
    font-weight: 600;
    margin-right: 41vw;
}

.par span{
    font-size: 1.2rem;
}

.lower-header div img{
    margin-left: 3vw;
}


.Main{
    background-color: rgb(248, 247, 247);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

.Main h3{
    grid-column: 1 / 3;

}

.Projects{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 15px;
    justify-content: center;
}

.Projects .card{
    height: 250px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px #aaaaaa;
    margin: 5%;
}



.card p{
    padding: 5px;
}

.card .title{
    font-size: 20px;
    font-weight: 700;
}

.right-side-main{
    display: grid;
    gap: 50px;
}

.right-side-main .card{
    height: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px #aaaaaa;
    margin: 0% 5% 5% 5%;
    
}

.profile-img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}